{% extends "layout.html" %}
	
{% block content %}
{% include "includes/product_tab.html" %}
	<div class="content-wrapper">
		<div name="content">							
			<div class="head">
				<div class="row">				
					<div class="col-sm-7 title" >
						<span class="fa fa-book"></span>Register Product				
					</div>
				</div>
			</div>

			<div class="content padding table-responsive">
					
					<form action="{% url "register_product" %}" method="post">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group">
								<label>{{field.label}}</label>
								{{field.errors}}
								{{field}}
							</div>
						{% endfor %}
						
						<div class="form-group">
							<button type="reset" class="btn btn-warning text-white m-right">Reset Form</button>
							<button class="btn btn-primary text-white">Save Product</button>
						</div>
					</form>
			</div>
		</div> <!-- end of content -->
	</div> <!--end of content-wrapper -->

{% endblock content %}